<!-- Copyright(c)2017 EnvisionWare, Inc. - All Rights Reserved -->

<div class="modal-header">
  <h3 class="modal-title" ng-bind-html="pageText.header">Enter Staff Password</h3>
</div>

<div class="modal-body">
  <p ng-if="!context.error" ng-bind-html="pageText.instructions">You must enter the staff password to access the Staff Menu.</p>
  <p class="alert alert-danger" ng-cloak ng-if="context.error">{{context.error}}</p>
  <form name="staffPasswordForm">
    <div class="form-group">
      <!-- <label for="emailAddress">Email Address</label> -->
      <!-- Not happy about having to duplicate the input field based on whether to show the on-screen keyboard -->
      <input  type="password"
              class="form-control"
              id="staff-password-field"
              name="staffPassword"
              ng-model="context.password"
              ng-blur="staffPasswordField.lostFocus($event)"
              ng-keypress="staffPasswordField.keypress($event)"
              autofocus
              autocomplete="off"
              required>
      <alpha-keyboard style="{z-index: 999;}" options="keyboard"></alpha-keyboard>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="col-sm-2 text-center">
    <button class="btn btn-default" ng-mousedown="clear()" ng-bind-html="pageText.clearButton">Clear</button>
  </div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2 text-right">
    <button class="btn btn-default" ng-mousedown="accept()" ng-disabled="!canAccept()" ng-bind-html="pageText.submitButton">Submit</button>
  </div>
  <div class="col-sm-2 text-left">
    <button class="btn btn-default" ng-mousedown="cancel()" ng-bind-html="pageText.cancelButton">Cancel</button>
  </div>
</div>
